/* HTML Element Styles */

html {
  font-family: "Nunito Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;

  line-height: 1.5;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    
}

/* Flex Containers */

.title-container,
.intro-paragraph-container,
.profile-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
}




.title-container {
    text-align: center;
    margin-bottom: 0em;
    min-height: 250px;
    background: linear-gradient(to top right, #4F359B, #3796e4);
    text-shadow: 0px 0px 2px #C7EFCF ;
}

.intro-paragraph-container {
    text-align: left;
    margin: 2em 3em;
}

.profile-picture {
  width: 200px;
  border-radius: 50%;
  margin: auto;
  margin-top: 2em;
  border: 4px solid #2D3142;
}


/* Media Queries */
@media (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
  p {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.0rem;
  }
}

@media (max-width: 509px) {
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 0.75rem;
  }
}
